@charset "UTF-8";
/* CSS Document */

/* z-index: 9=TEMPTOP, 8=UI ELEMENTS, 7=MINIMAP, 6=STORIES, 5=OTHERTEXT, 4=NEWMAP, 3=OLDMAP, 2=FULLSTORY, 1= */


body {
	background-color: rgba(0,0,0,1);	
    overflow-y:scroll;
	overflow-x: hidden;
	font-family: 'Enriqueta', serif;
}

/* GENERAL ELEMENTS */

ul {
	list-style-type:none;
}
ul .loadPlayer {
	border-radius:20px;
	color:rgba(255,255,255,1);
	text-align:center;
	font-size:40px;
	position:absolute;
	width:40%;
	padding:20px;
	background-color:rgba(0,0,0,0.6);
	transition:0.2s;
	display: block;
	opacity: 0;
	transform: translate(-50%,-50%);
}
ul .loadPlayer:hover {
	background-color:rgba(0,0,0,1);
	border-radius: 5px;
	text-decoration: none;
	padding: 25px;
}
#container .prompt {
	position: absolute;
	font-size: 2vw;
	top: 8vh;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	overflow: hidden;
}




.hidden {
	display: none;	
}
.center {
	text-align: center;	
	position: relative;
	top: 40vh;
	transform: translateY(-50%);	
	margin: 0 auto;
}
.backgroundMap {
	background-image:url(../images/oldmap.png);
	background-position: 100% 50%;
	box-shadow: 40px 40px 80px #000 inset,-40px -40px 80px #000 inset;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -98;
	display: none;
}
#container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	z-index: -999;
	left: 0;
}
#container h1 {
	position: absolute;
	top: 0;
	margin: 0;
	color: rgba(0,0,0,1);
	background: rgba(255,255,255,0.6);
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	background: -o-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	background: -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	background: linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0.0));
	padding: 10px;
	text-align: center;
	width: 100%;
	font-size: 3vw;
	display: none;
}
section {
	display: none;	
}

.fixed {
	position: fixed;	
}


/************* INTRO ELEMENTS ******************/

#intro .animate {
	-webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
#intro .hidden {
	display: none;
}
#intro .center {
	text-align: center;	
}
#intro .timetravel {
	z-index: 99;
}
#intro .timetravel h2 {
	font-size: 100px;
}
#intro .timetravel h3 {
	font-size: 60px;	
}
#intro .newmap {
	background-image:url(../images/newmap.png);
	background-size: cover;
	background-position: 100% 50%;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
#intro .oldmap {
	background-image:url(../images/oldmap.png);
	background-position: 100% 50%;
	box-shadow: 40px 40px 80px #000 inset,-40px -40px 80px #000 inset;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}	
#intro .centered {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	z-index: 9;
	height: 300px;
	overflow: display;
	text-align: center;
}
#intro .container-fluid {
}
#intro .intro {
	font-family: 'Clicker Script', cursive;
	text-align: center;
	color: rgba(255,255,255,1.00);
}
#intro .intro h2 {
	font-size: 100px;
	font-weight: 900;
}
#intro .intro h1 {
	font-size: 60px;
	font-weight: 100;
	color: #fff;
}
#intro .intro p {
	font-size: 50px;
}
#intro .introImage {
	width: 50vw;
	height: 50vw;
	background-size: contain;
	position: absolute;
	opacity: 0.1;
	display: none;
	box-shadow: 60px 60px 200px #000 inset,-60px -60px 200px #000 inset;
	border-radius: 20px;
	z-index: 2;
}
#intro ui {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;	
}
#intro a.skipIntro {
	position: absolute;
	color: #fff;
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	display: block;
	padding: 10px 20px;
	font-size: 30px;
	z-index: 99;
	top: 20px;
	right: 50px;
	border-radius: 10px;
	font-family: 'Clicker Script', cursive;
}
#intro a.skipIntro:hover {
	background-color: rgba(255,255,255,0.4);

}
#intro .tip {
	right: 50px;
	bottom: 50px;
	background-color: rgba(65,65,65,0.30);
	z-index: 999;
	position: fixed;
	padding: 8px;
	width: 25vw;
	font-size: 18px;
	color: rgba(255,255,255,1.00);
	font-weight: 600;
}
#intro .story {
	position: absolute;
	display: none;
}
#intro .story h3 {
	color: rgba(255,255,255,0.90);
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	display: none;
	border-radius: 20px;
	border: 3px solid rgba(0,0,0,1);
	position: absolute;
}
#intro .fullStory {
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: rgba(0,0,0,0.90);
	display: none;	
	z-index: 999;
}
#intro .fullStory h2 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin: 20px;
}
#intro .story a.back2Map {
	position: absolute;
	margin: 20px;
	right: 0;
	bottom: 0;	
	color: #fff;
	font-size: 20px;
}
#intro .story1 {
	top: 20vh;
	left: 50vw;
}
#intro .story2 {
	top: 20vh;
	left: 80vw;
}
#intro .story3 {
	top: 40vh;
	left: 10vw;
}
#intro .story4 {
	top: 50vh;
	left: 40vw;
}

		.stories > span {
			background-color: rgba(0,0,0,0.50);
			display: block;
			position: relative;
			margin: 100px;
			padding: 20px;
			text-align: center;
			cursor: pointer;
			border-radius: 20px;
		}
		.stories > span:hover {
			background-color: rgba(0,0,0,0.90);
		}
		.stories > span a {
		   background-position: center;
		   background-repeat: no-repeat;
		   background-size: cover;
	
	       letter-spacing: 5px;
	       text-transform: uppercase;
		   color: #fff;
   	       padding: 50px;		  
		   font-size: 50px;
		   font-weight: bold;
		   text-align: center;
			transform: translateX(-50%);
		}
.stories > span a:hover {
	text-decoration: none;
}
#intro {
	z-index: -99;	
}

.shortFacts p {
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.80);
	margin-top: 25px;
	border-radius: 15px;
	font-size: 18px;
	font-weight: 900;
	max-width:  80%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	cursor: pointer;
}
.navsstories {
	display: block;
	position: absolute;
	transform: translateX(-50%);
	height: 200px;
	padding: 100px;
}
.navstories a {
	height: 200px;
	display: block;
	float: left;
	width: 15%;
	padding: 30px;
	line-height: 100px;
	text-align: center;
	
	color: rgba(255,255,255,1);
	background-color: rgba(127,127,127,0.90);
	margin-top: 25px;
	border-radius: 15px;
	font-size: 18px;
	font-weight: 900;
	max-width:  80%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-right: 100px;
}
.navstories a:first-of-type {
	margin-left: 10%;	
}

/* OTHER ELEMENTS */

.map {
	background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 3;
}
	.old_map {
		background-image: url(../images/oldmap.png);
		z-index: 3;
	}
	.new_map {
		background-image: url(../images/newmap.png);
		z-index: 4;
	}
	.large_map {
		width: 100vw;
		height: 100vh;
		position: fixed;
	}
	.mini_map {
		width: 15vw;
		height: 15vh;
		z-index: 7;
		
		margin: 20px;
		
		border-radius: 100px;
		border: solid thick black;
	}
	
h1 {
	font-size: 80px;
	font-weight: 900;
	margin-top: 50px;
	text-align: center;
	font-family: 'Clicker Script', cursive;
	color:rgba(0,0,0,1.00);	
	z-index: 20;
}
.intro {
	font-family: 'Clicker Script', cursive;
	color: #fff;
	z-index: 9;
}
	p.intro {
		z-index: 9;	
		width: 60%;
		color: #fff;
		font-size: 30px;
	}
	p.date {
		font-size: 100px;
		font-weight: 900;
	}
	p.fact {
		
	}
.story {
	z-index: 2;
	display: none;
}
	.story .storycontent {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top:0;
		left: 0;
		z-index: 2;	

		background-color: rgba(255,255,255,1.00);
	}
	.text {
		height: 500px;
		border-bottom: 5px solid black;
	}
.content {
}


	.storySection {
		min-height: 100px;
		padding: 50px 100px;	
		text-align: center;
	}
	.storySection h4 {
		margin-top: -30px;
		line-height: 12vw;	
		font-size: 80px;
		text-align: center;
		font-weight: 900;
		color: rgba(0,0,0,0.2);
	}
	.storySection p {
		text-align: justify;
	}

	#story1 {

	}
		#story1 .storyHeader {
		}
			#story1 h3 {
				background: -webkit-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story1_ron.jpeg);
				background: -o-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story1_ron.jpeg);
				background: linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story1_ron.jpeg);
				
			   	background-attachment: fixed;
			   	-webkit-text-fill-color: transparent;
			   	-webkit-background-clip: text;
			}

	#story2 {
		
	}
		#story1 .storyHeader {
		}
			#story2 h3 {
				background: -webkit-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story2_john.jpeg);
				background: -o-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story2_john.jpeg);
				background: linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story2_john.jpeg);
				
			   	background-attachment: fixed;
			   	-webkit-text-fill-color: transparent;
			   	-webkit-background-clip: text;
			}

	#story3 {

	}
		#story1 .storyHeader {
		}
			#story3 h3 {
				background: -webkit-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story3_mikeReverse.png);
				background: -o-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story3_mikeReverse.png);
				background: linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story3_mikeReverse.png);
				
			   	background-attachment: fixed;
			   	-webkit-text-fill-color: transparent;
			   	-webkit-background-clip: text;
			}

	#story4 {

	}
		#story1 .storyHeader {
		}
			#story4 h3 {
				background: -webkit-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story4_vernon.jpeg);
				background: -o-linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story4_vernon.jpeg);
				background: linear-gradient(#eee, rgba(255,255,255,0.4), #de7006),url(../images/story4_vernon.jpeg);
				
			   	background-attachment: fixed;
			   	-webkit-text-fill-color: transparent;
			   	-webkit-background-clip: text;
			}

	.storyHeader {
		background-color: rgba(0,0,0,1.00);
		height: 100vh;
		opacity: 0.9;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
	}
		.storyHeader > span {
			background-color: rgba(0,0,0,0.70);
			display: block;
			position: relative;
			margin: 0 auto;
			max-width: 80%;
			top: 20%;
		}
		.storyHeader h3 {
			
		   background-position: center;
		   background-repeat: no-repeat;
		   background-size: cover;
	
	       letter-spacing: 5px;
	       text-transform: uppercase;
		   color: #fff;
   	       padding: 30px;		  
		   font-size: 6vw;
		   font-weight: bold;
		   text-align: center;
		}
.storyHeader .playVideo {
	content:"";
	display: block;
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,1.00);
	font-size: 5vw;
}
		.continue {
			position: absolute;
			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			bottom: -1px;
			right: 0;
			left: 0;
			cursor: pointer;
			padding: 10px;
			line-height: 60px;
			font-size: 50px;
			color: rgba(255,255,255,1.00);
			background-color: rgba(255,255,255,0.10);
			text-align: center;
			width: 100%;
			transition: all ease-in-out 1s;
			display: block;
			opacity: 0;
			z-index: 999;
		}
		.continue:hover {
			line-height: 50px;
			padding-bottom: 1px;
		}
		.continue:hover > p span {
			line-height: 30px;	
		}
		.continue p {
		text-align: center;
		}
		.continue p span {
			position: relative;
			display: block;	
			margin: 0 auto;
			transition: all ease-in-out 1s;
		}
		
	.storySummary {
		background-color: rgba(182,182,182,1.00);
		min-height: 300px;
		display: none;
	}
.storySummary h4 {
	font-size: 100px;
}
.storySummary p {
	font-size: 26px;
}
	.storyMedia {
		display: none;
		min-height: 200px;
	   	background-attachment: fixed;
	   	background-position: center;
	   	background-repeat: no-repeat;
	   	background-size: cover;	
		opacity: 0.8;
	 }
		.storyMedia span {
			background-color: rgba(0,0,0,0.5);
			display: block;
			margin: 0 auto;
			padding: 50px 20px;
			position:  relative;
			min-width: 50%;
			max-width: 80%;
		}
		.storyMedia h6 {
			font-size: 40px;
			line-height: 50px;
			position: relative;
			color: rgba(255,255,255,1.00);
			text-align: center;
			font-style: italic;
			font-family: 'Gentium Book Basic', serif;
		}
		.storyMedia.largeMedia {
			height: 100vh;	
		}
		.storyMedia.largeMedia span {
			min-height: 50%;
			top: 50%;
			transform: translateY(-50%);
			padding: 30px;
		}
		.storyMedia.largeMedia span h4 {
			color: #fff;
			padding: 20px;
		}
		.storyIntermission {
			min-height: 300px;
			background-image: url(../images/oldmap.png);
			background-position: center;
			background-attachment: fixed;
			display: none;
		}
.storyIntermission p {
	color: rgba(255,255,255,1);
	font-size: 30px;
	text-align: center;
}
.storyIntermission span {
	background-color: rgba(0,0,0,0.6);
	width: 35%;
	float: left;
	padding: 20px;
	position: relative;
	margin-left: 10%;
	cursor: pointer;
	transition: 0.2s;
}
.storyIntermission span:hover {
	background-color: rgba(0,0,0,1);
}
.storyIntermission span:last-of-type {
	float: right;
	right: 10%;
}

.storyPOI {
	background-color: rgba(255,255,255,1.00);
	display:  none;
}
.storyPOI h4 {
	color: rgba(0,0,0,0.8);
	font-size: 50px;
	line-height: 50px;
	margin: 0px;
	font-family: 'Ramaraja', serif;
	letter-spacing: 2px;
}.storyPOI h6 {
	color: rgba(0,0,0,0.5);font-size: 30px; padding: 20px 0 30px 0;
}
.storyPOIx {
	border-top: solid thin rgba(0,0,0,0.2);
	padding: 40px 0 20px 0;
	width: 60%;
	margin: 0 auto;
	cursor: pointer;
	transition: 0.5s;
	color: rgba(0,0,0,0.3);
}
.storyPOIx p {
	color: rgba(0,0,0,1);
	margin-top: 10px;
}
.storyPOIx h5 {
	color: rgba(0,0,0,1);
	font-family:'Gentium Book Basic', serif;
}
.storyPOIx a {
	color: rgba(0,0,0,1);
}
.storyPOIx:hover {
	background-color: rgba(0,0,0,0.1);
}
.storyPOIx p:last-child {
	margin-top: 40px;
	padding: 0;
}
.storyPOIx:last-of-type {
	border-bottom: solid thin rgba(0,0,0,0.2);
}

	.transcript {
		background-color: rgba(231,231,231,1.00);
		text-align: left;
		min-height: 200px;
		display: none;
	}
	.transcript p {
		font-size: 20px;
		line-height: 35px;
		padding-bottom: 20px;
		font-family: 'Enriqueta', serif;
	}

	.transcript p:first-child:first-letter {
		  color: #903;
		  float: left;
		  font-family: Enriqueta, serif;
		  font-size: 75px;
		  line-height: 60px;
		  padding-top: 4px;
		  padding-right: 8px;
		  padding-left: 3px;
	}
	.storyFooter {
		background-color: rgba(34,34,34,1.00);
		display: none;
		font-size: 18px;
	}
	.storyFooter ul {
		color: rgba(255,255,255,0.8);
	}	
	.storyFooter h6 {
		color: rgba(255,255,255,0.4);
		font-size: 40px;
		margin-top: 20px;
		font-family: 'Ramaraja', serif;
		letter-spacing: 2px;
	}
	.storyFooter ul li {
		font-size: 15px;
		padding: 10px;
	}
.storyFooter > a {
	width: 100%;
	display: block;
	cursor: pointer;
	padding: 20px 0;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	transition: 0.2s;
}
.storyFooter > a:hover {
	background: rgba(0,0,0,0.15);
	text-decoration: none;
	color: rgba(255,255,255,1);
}
.storyFooter .copyright {
	padding-top: 30px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.storyFooter .copyright p {
	color: rgba(255,255,255,0.6);
	font-size: 10px;
}
.storyIntermission a.clickHere {
	color: rgba(255,255,255,1);
	
}
.storyFooter p {
	color: aliceblue;
}
.storyFooter h4 {
	padding-top: 50px;
	color: rgba(255,255,255,0.8);
	font-family: 'Ramaraja', serif;
	letter-spacing: 3px;
	font-size: 100px;
}
.reminder {
	position: absolute;
	background-color: rgba(255,255,255,1);
	width: 100%;
	padding: 20px;
	left: 0;
	color: rgba(0,0,0,1);
	cursor: pointer;
	margin-top: -50px;
	border-top: solid thick #903;
	border-bottom: solid thick #903;
}
	
.timeline {
	margin: 0;
	top: 0;
	padding-bottom: 50px;
	position: fixed;
	height: 100%;
	width: 50px;
	background-color:rgba(200,200,200,0.50);
	cursor: pointer;
	z-index: 990;
	transition: width ease-in-out 0.5s;
	left:-50px;
}
	.timeline.autohide {
		width: 10px;
		background-color: rgba(255,255,255,0.00);
	}
.currentTime {
	position: absolute;
	top: 10px;
}
.totalTime {
	position: absolute;
	width: 50%;
	bottom: 40px;
	display: none;
}
.toggleState {
	width: 50px;
	height: 50px;
	display: block;
	content: "";
	left: -50px;
	bottom: 0;
	background-color:rgba(230,114,16,0.95);
	color:rgba(0,0,0,1.00);	
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	font-weight: 900;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.toggleState:hover {
	background-color:rgba(255,162,0,1.00);	
}
.content {
}
	.timeline .scrubHead {
		top: 0;
		left: 0;
		height: 5px;
		transform: translateY(-50%);
		width: 100%;
		background-color: rgba(193,34,36,1.00);
		position: absolute;
		display: block;
		z-index: 5;
		opacity: 1;
		transition: height 0.1 ease-in-out;
		transition: background-color 0.5 ease-in-out;
	}
		.timeline .scrubHead.active {
			height: 40px;
		}
			.timeline .scrubHead.active.overPOI {
				height: 20px;
				background-color:rgba(0,0,0,0.10)
			}		
		.timeline .scrubed {
			content: "";	
			width: 100%;
			height: 0%;
			top: 0;
			left: 0;
			position: absolute;
			background-color:rgba(255,255,255,0.8);
		}
.compare img {
	position: relative;
	width: 50%;
	margin: 0;
	border: 0;
	padding: 0;
	float: right;
	z-index: 25;
}
.compare span {
	z-index: 9;
}
.compahe {
	overflow: hidden;
	height: auto;
}
	.scrollPosition {
		height: 4px;
		width: 100%;
		left: 0;
		top: 0;
		background-color: rgba(239,232,174,1.00);
		display: block;
		position: absolute;
	}
	.timeIndicator {
		content: '';
		font-weight: 900;
		font-size: 18px;
		position: absolute;
		height: 40px;
		left: 50px;
		top: 1px;
		transform: translateY(-50%);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: rgba(193,34,36,1.00);
		text-align: center;
		width: 100px;
		color: rgba(247,240,240,1.00);
		display: none;
	}
		.timeIndicator.activePOI {
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			background-color: rgba(225,229,202,1);
			opacity: 0.9;
			color:rgba(255,255,255,1);
		}
		.timeIndicator p {
			margin: 0;
			line-height: 40px;
		}
		
		.timeline.autohide .timeIndicator {
			left: 0;
		}
	.poi {
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: rgba(37,37,37,0.95);
		transform-origin: center;
		transform: translate(-50%, -50%);
		border-radius: 50px;
		left: 50%;
		z-index: 9;
	}
		.poi:hover {
			background-color: rgba(158,146,0,1.00);	
		}
		.poi:active {
			background-color: rgba(255,237,0,1.00);	
			border-radius: 50px;
		}
		.timeline.autohide .poi {
			display: none;	
		}
		.poi_active {
			left: 50%;
			width: 50px;
			height: 50px;
			background-color: rgba(255,237,0,1.00);
			border-radius: 50px;
		}
		.poi_active:hover {
			left: 50%;
			width: 50px;
			height: 50px;
			background-color: rgba(255,237,0,1.00);	
		}
		.poi_viewed {
			background-color: rgba(190,190,190,1);
		}
		.poi_expand {
			display: none;
			position: relative;
			width: 300px;
			background-color: rgba(225,229,202,1);
			transform: translateY(-25%);
			margin-top: 50%;
			left: 50px;
			border-radius: 20px;
			cursor:default;
			transition: 0.5s;
			opacity: 0.9;
		}
		.poi .noBorder {
			border-radius: 0px;
		}
		.poi_expand h5 {
			padding: 30px 30px 10px 30px;
		}
		.poi_expand p {
			padding: 00px 30px 30px 30px;
		}
			.poi_expand:after {
				content: " ";
				width: 50px;
				height: 50px;
				display: block;
				position: absolute;
				background-color: rgba(225,229,202,1.00);
				transform: translateY(-50%) translateX(-40%) rotate(45deg);
				top: 25%;
				z-index: -1;
			}
		.poi_expand p:nth-last-of-type(1) {
			cursor:pointer;
			color:rgba(255,255,255,1);
			width:100%;
			text-align:center;
			background-color:rgba(7,136,18,0.60);
			display:block;
			top:30%;
			padding:20px 30px;
			position:relative;
			left:0px;
			margin: 0;
			transition: 0.5s;
		}
		.poi_expand p:nth-last-of-type(1):hover {
			background-color:rgba(7,136,18,10);
		}

		.poi_expand a {
			color:rgba(255,255,255,1);
			line-height:20px;
			width:100%;
			text-align:center;
			background-color:rgba(154,0,0,0.60);
			display:block;
			padding:20px 30px;
			bottom: 0;
			border-bottom-right-radius:20px;
			border-bottom-left-radius:20px;
			position:relatvie;
			left:0px;
			transition: 0.5s;
		}
		.poi_expand a:hover {
			background-color:rgba(154,0,0,1.00);
			text-decoration: none;
		}
.player {
	top: 0px;
	transform: translate(-50%, -4%);
}

video.player {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	min-height: 100vh;
	margin-top: -2%;
	top: 0;
	padding: 0;
	z-index: 5;
	display: none;
}
video.poster {
	position: absolute;
	opacity: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);	
	height: 100vh;
	z-index: -9;
}
.player_bg {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
	top: 0;
	left: 0;
	z-index:  -12;
	background-size: cover;
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
